PORT=3000
# Configuración para AWS RDS MySQL con SSL
MYSQL_URI=mysql://admin:TuContraseña@soporte-informatico.cmb2gau0qour.us-east-1.rds.amazonaws.com:3306/soporte-informatico
MONGO_URI=mongodb://localhost:27017/soporte_informatico
