PORT=3000
MYSQL_URI=mysql://USER:PASSWORD@<rds-endpoint>:3306/soporte_informatico
MONGO_URI=mongodb://USER:PASSWORD@<documentdb-o-atlas-endpoint>:27017/soporte_informatico
NEXT_PUBLIC_API_URL=http://localhost:3000
